section {
    /* To center the card */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 620px;
    background: linear-gradient(135deg, #04caf7 6%, #8dd1da 100%);
    color: black;
    border-radius: 10%;
    margin: 40px;
}




/* Avatar and Title of the form style */
.Avatar-Title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#Avatar #Form-Title {
    margin: -50px;
}

#Avatar {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

#Form-Title {
    font-size: larger;
    font-weight: bold;
}


.Employee-Data {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin: 20px 5px 10px;
}



.First-Six-Divs {
    margin-left: -10px;
}

.Second-Six-Div {
    margin-left: 40px;
}

.Employee-Data p {
    margin: 10px;
}

/* Input and Select elements style */
.Employee-Data input,
select {
    padding: 1.5px 4px;
    border: 1px solid white;
    border-radius: 9px;
    transition: background 0.4s, border-color 0.4s;
    background-color: white;
}

.Employee-Data input:focus,
select:focus {
    outline: none;
    border-color: aqua;
    background-color: rgba(128, 128, 128, 0.200);
}

.Employee-Data input {
    width: 180px;
    max-width: 180px;
    height: 25px;
    max-height: 25px;
}

.Employee-Data select {
    width: 170px;
    max-width: 170px;
    height: 25px;
    max-height: 25px;
}

.Employee-Data input::placeholder {
    color: black
}

.Employee-Data p {
    margin-left: 5px;
}

/* Buttons style */
.Buttons button {
    margin: 45px 50px 0px;
    width: 70px;
    max-width: 70px;
    height: 30px;
    max-height: 30px;
    border: 1px solid rgb(32, 185, 185);
    border-radius: 25px;
    padding: 0px 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: white;
    transition: background-color 0.2s;
}

.Buttons button:active {
    transform: scale(0.9);
}

.Buttons button:hover {
    background-color: rgba(128, 128, 128, 0.849);
}

.Fail {
    color: red;
}

.Success {
    color: rgb(24, 195, 24);
    margin: 0px 0px 0px -10px;
}

.Validation-Message {
    position: absolute;
    margin: 0px 0px 0px 10px;
    font-size: 0.85rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}