{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{%static 'CSS/AboutUsStyle.css'%}">
    <script src="{%static 'JS/AboutUsScript.js'%}"></script>
</head>

<body>
    {% include 'urls/Header.html' %}
    <section>
        <h1>About us</h1>
        <p>This is a leading HR-services solution, the BitriX system helps
            human resource workers and recruiters manage employees information
            effortlessly, using a collection of art-grade tools, which leads
            to a refined and improved organizational perrformance.
        </p>
    </section>
</body>
{% include 'urls/Footer.html' %}

</html>