{%load static%}
<!DOCTYPE html>
<html>

<body>

    <!--Navigation bar-->
    {% include 'urls/Header.html' %}
    <!-- <body style="background-color: aqua; color:black;"> -->
    {% for element in Info %}
    <form class="vacation-form" method='POST' onsubmit="validateForm()" id="vacation-form">
        {% csrf_token %}
        <h1 class="title">Vacation form</h1>
        <div class="EmployeeName" Name="eName">
            <label for="emName">Name:</label>
            <input class="input" type="text" name="emName" value={{element.name}} readonly placeholder="Employee Name"
                id="emName" maxlength="100" required autofocus>
        </div>

        <div class="EmployeeID">
            <label for="emID">ID:</label>
            <input class="input" type="number" name='empID' value={{element.ID}} readonly placeholder="Employee ID"
                id="emID" min="1" max="9999999" required>
        </div>

        <div class="StartDate">
            <label for="sd">Start date:</label>
            <input class="input" type="date" name="StartDate" value="2022-05-26" id="sd" min="2022-01-01" required>

            <!-- mimum & max deal  ------------------------------------------------------------------------->

        </div>
        <br>

        <div class="EndDate">
            <label for="ed">End date:</label>
            <input class="input" type="date" name="EndDate" value="2022-05-30" id="ed" min="2022-01-01" required>
        </div>
        <br>

        <div class="Reason">

            <label for="rsn">Reason:</label>
            <textarea class="input" name="Reason" id="rsn" cols="30" rows="10" required></textarea>
        </div>

        <div class="button">
            <input class="input" type="submit" value="Save">
        </div>

        <div class="Confirmation-Message">
            <br>
            <p id="Confirmation-Message"></p>
        </div>

    </form>
    {% endfor%}

    {% include 'urls/Footer.html' %}


    <script src="{%static 'JS/VacationFormScript.js'%}"></script>
    <script>
        $("#vacation-form").submit(function (e) {
            e.preventDefault();
            var serializedData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'VacationForm' %}",
                dataType: 'text',
                data: serializedData,
                success: function (response) {
                    alert(response)
                },
                error: function (response) {
                    alert(response)
                }
            })
        });
    </script>
</body>

</html>